body {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

/* Css for INDEX.HTML */
body{
    font-family: calibri;
    font-size: 1em;
}
.mrC{
    max-width: 700px;
    height: auto;
    margin: 40px auto;
    padding: 35px 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    font-size: 1.3em;
}
.ih1{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #da3788;
    color: white;
    font-size: 1.5em;
}
.indexLogo{
    position: relative;
    width: 40%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.bOptions{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}
.mrLink{
    width: 100%;
    height: 65px;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid #7a288a;
    background: none;
    justify-content: center;
    color: #7a288a;
    text-decoration: none;
    font-size: 0.9em; 
    font-weight: bold;
}
@media (max-width: 500px) {
    .ih1{
        font-size: 0.7em;
    }
    .indexLogo{
        width: 40%;
    }
    .mrLink{
        font-size: 0.6em;
        height: 50px;

    }
    .mrC{
        font-size: 1em; 
    }       
}


/* CSS for Registration Form*/
.notice{
    display: block;
    width: 100%;
    height: 100px;
    padding: 25px;
    font-weight: bold;
    font-size: 1em;
    background-color: #da3788;
    color: white;
    border: none;
}
.fTimers{
    width: 30%;
    margin: 30px;
    padding: 10px;
    text-decoration: none;
    font-size: 0.9em;
    color: white;
    border: 3px solid rgb(243, 21, 243);
    border-radius: 10px;
    background-color: rgb(204, 174, 6);
}
.membershipGrouping{
    max-width: 700px;
    position: relative;
    margin: 40px auto;
    padding: 20px;
    font-size: 1.1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}
@media (max-width:768px) {
    .notice{   
        height: 180px;
    }
    .fTimers{
        display: block;
        width: 100%;
        padding: 10px;
        margin: auto;
    }
    .membershipGrouping{
        font-size: 1em;
    }    
}
.fHeadings{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: rgb(240, 21, 105);
    margin-bottom: 10%;
}
.fDetail{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 15px;
}
#lbl{
    font-weight: bold;
    margin-bottom: 15px;
}
.mfButton{
    width: 25%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: rgb(240, 21, 105);
    color: #fff;
    margin-top: -70%;
}
.hidden{
    display: none;
}
@media (max-width:768px) {
    .fHeadings{
        margin-bottom: 0;
        padding: 10px;
    }
    .cLogo{
        width: 40%;
    }
    .fDetail{
        margin-top: 10px;
    }
}


/*CSS for ADMINLOGIN Page*/
.adminlogin{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    position: relative;
    margin: 40px auto;
    max-width: 700px;
    height: auto;
}
.loginInput{
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.1em;
}
.loginButton{
    width: 100%;
    padding: 10px;
    background-color: rgb(240, 21, 105);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;  
}
.registerLink{
    display: inline;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 25px;
}
#role{
    width: 30%;
    padding: 10px;
}
.recover{
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #007bff;
}
.sBtn{
    border: none;
    color: #007bff;
    background-color: white;
    font-weight: bold;
    font-size: 0.9em;
    text-align: right;
    cursor: pointer;
}
@media (max-width:768px) {
    .registerLink{
        padding: 1px;
    }    
    .sBtn{
        font-size: 0.85em;
    }
    .loginButton{
        font-size: 1em;
    }    
}


/*CSS for the AdminDashboard*/
.adminHeader{
    display: flex;
    background-color: white;
    color: black;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.dropdown-toggle{
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
    padding: 15px;
    font-size: 1em;
}
.dropdown-toggle:hover{
    background-color: #e60b78;
    color: white;  
}
.icon {
color: rgba(105, 99, 121, 1); /* Default color */
}
.dropdown-toggle:hover .icon {
    color: white; /* Change icon color to white on hover */
}
.oLink{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 1em;
}
.oLink:hover{
    background-color: #f0f3f7;
    border-radius: 20px;
}
.search-wrapper input {
    padding-right: 30px; 
    font-style: italic;
    border-radius: 70px;
    font-size: 1.1em;
}
.search-wrapper .fa-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    color: #a0a0a0; 
}
.profile-card {
    display: none;
    position: absolute;
    width: 335px;
    height: 390px;
    padding: 10px;
    margin-left: -290px;
    margin-top: 25px;
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.usD{
    height: 280px;
    padding: 20px;
    background-color: rgb(207, 183, 207);
    border: none;
    border-radius: 10px;
}
.netLinks{
    text-decoration: none;
    color: black;
}
.netLinks:hover{
    width: 200px;
    padding-left: 15px;
    margin-left: -15px;
    background-color:#615f5fc0;
    overflow: hidden;
    text-align: justify;
}
.table-responsive {
    max-height: 600px;
    overflow-y: auto;
}
th, td {
    white-space: nowrap; 
    overflow: visible; 
    text-align: left; 
}
.table {
    table-layout: auto;
    width: 100%; 
}
.custom-confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
.filter-sort-container {
            margin-bottom: 20px; /* Space below the filter/sort container */
}
.pagination .page-item.active .page-link {
    background-color: #884f94ff;
    color: #fff;
}
.pagination .page-link {
    color: #884f94ff; 
    border: 1px solid #884f94ff;
}
.pagination .page-link:hover {
    color: #884f94ff; 
}
/*CSS for the footer*/
footer{
    text-align: center;
    align-items: center;
    padding: 20px;
    background: rgb(240, 21, 105);
    color: white;
    position: relative;
    font-size: 1em;
    width: 100%;
}
